<div class="post-bar-actions-wrap">
    <div class="post-actions post-action-share">
        <div class="post-action">
            <% if ((/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(post.content)) { %>
                <a class="post-bar-action-btn btn btn--default" href="#table-of-contents" aria-label="<%= __('post.toc') %>">
            <%} else { %>
                <a class="post-bar-action-btn btn btn--default" href="#" aria-label="<%= __('post.back_to_top') %>">
            <% } %>
                <i class="fas fa-angle-up" aria-hidden="true"></i>
            </a>
        </div>
        <% if (post.comments) { %>
            <% if (theme.gitalk.enable) { %>
                <div class="post-action">
                    <a class="post-bar-action-btn btn btn--default" href="#gitalk">
                         <i class="fas fa-angle-down"></i>
                    </a>
                </div>
            <% } else if (theme.disqus_shortname) { %>
                <div class="post-action">
                    <a class="post-bar-action-btn btn btn--default" href="#disqus_thread">
                        <i class="fas fa-angle-down"></i>
                    </a>
                </div>
            <% } %>
        <% } %>
    </div>
</div>